{% extends "base.html" %}

{% block content %}

<div class="container-sm bg-primary-subtle shadow-lg p-3 mb-5 bg-body-tertiary rounded mt-5">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Insira o seu endereço de email:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Insira a sua mensagem:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="mb-5">
    <button type="submit" class="btn btn-primary float-end">Enviar</button>
  </div>
  
</div>


{% endblock %}